set autoindent
set brackets ""')>]}"
set quotestr "^([       ]*[#:>\|}])+"
set nowrap
set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set numbercolor blue
set keycolor brightwhite,yellow
set functioncolor brightwhite

include "/usr/share/nano/*.nanorc"