set autoindent
set brackets ""')>]}"
set nowrap
set quotestr "^([       ]*[#:>\|}])+"
set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set numbercolor cyan
set keycolor brightwhite,cyan
set functioncolor green
include "/usr/share/nano/*.nanorc"